body {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)),url(/static/images/Elegant_Background-4.jpg);
    background-size: cover; /* Ensures the image covers the viewport */
    background-repeat: no-repeat; /* Prevents tiling */
    background-attachment: fixed; /* Keeps the image in place when scrolling */
    background-position: center; /* Centers the image */
}

.container {
    max-width: 100%;
}

.row {
    display: flex; /* Enables flex layout */
    align-items: stretch;
}

.info-section,
.form-section {
    flex: 1; /* Ensures both sections take up equal width */
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 20px;
    background-color: #fff;
    
}

.info-section {
    overflow-y: auto;
}

.form-section {
    overflow-y: auto;
}

.info-section h2,
.form-section h2 {
    font-size: 1.5rem;
}

.logo {
    max-width: 300px;
    height: auto;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.tooltip .tooltip-inner {
    max-width: 325px !important;
    text-align: left;
}
