body {
    background-image: url(/static/images/Elegant_Background-4.jpg);
}

.info-section {
    overflow-y: auto;  /* Enable scrolling for the text */
    background-color: #f8f9fa;
    opacity: .7;
}

.info-text {
    font-size: 1rem;
    line-height: 1.6;
}

.info-section h2 {
    font-size: 1.5rem;
    color: #6c757d;
}

.image-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.image-container img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: none; /* Remove any height constraint */
    object-fit: contain; /* Ensures the image scales without distortion */
}


.form-section {
    background-color: #fff;
    opacity: .7;
}

.form-section h2 {
    font-size: 1.5rem;
    color: #007bff;
}

.form-control, .form-select {
    font-size: 1rem;
    padding: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Ensure the image fills the width of its container but retains its aspect ratio */
.info-section img {
    width: 100%;
    height: auto;
    max-height: 200px;
}
